html,body {
    height: 100%;
    width: 100%;
}

#div-button {
    padding: 15px 15px 15px 15px;
}

button {
    position: absolute;
    right: 91px;
    background-color: rgb(59, 119, 250);
    border: none;
    color: white;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#boton-geo {
    position: absolute;
    background-color: rgb(59, 119, 250);
    border: none;
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    right: 14px;
    margin-top: -46px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 160px 12px 40px;
}

.fa {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}
#map {
    height: 85%;
    width: 100%;
    /* filter: blur(8px); */
}

#map1 {
    height: 100%;
    width: 100%;
}

#tabla {
    width: 100%;
    min-height: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
    font-size: 16px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

h1, h2, h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#div-tabla {
    padding: 30px;
}

#div-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 600px;
    margin-top: -250px;
    margin-left: -300px;
}

@media only screen and (max-width: 768px) {
    #div-popup {
        width: 100%;
    }
}
#div-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#div-info1 {
    height: 100%;
    width: 50%;
    background-color: black;
    float: left;
}

#div-info2 {
    height: 70%;
    width: 50%;
    background-color: white;
    float: right;
}

#div-info3 {
    background-color: rgb(45, 179, 233);
    width: 50%;
    height: 30%;
    float: right;
}

.h1-popup {
    font-size: 75px;
    text-align: center; 
    padding-top: 66px;
}

.h2-popup {
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
}

.h3-popup {
    font-size: 25px;
    float: left;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.weather-icon {
    background-color: black;
}

#boton-mapa {
    position: initial;
    background-color: rgb(59, 119, 250);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 218px;
}